@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 22 1% 9%;
    --foreground: 26 16% 35%;
    --card: 22 1% 12%;
    --card-foreground: 240 10% 93.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 26 36% 85%;
    --primary-foreground: 22 1% 9%;
    --secondary: 26 1% 35%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 26 1% 35%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 99% 35%;
    --destructive-foreground: 22 1% 85%;
    --border: 26 5% 30%;
    --input: 240 5.9% 70%;
    --ring: 50 20% 36%;
    --radius: 1rem;
    --success: 131 33 60;
  }

  .viternity {
    --background: 22 1% 9%;
    --foreground: 26 16% 95%;
    --card: 22 1% 12%;
    --card-foreground: 26 16% 75%;
    --popover: 22 1% 12%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 26 16% 75%;
    --primary-foreground: 22 1% 9%;
    --secondary: 26 5% 55%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 26 1% 35%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 99% 35%;
    --destructive-foreground: 22 1% 85%;
    --border: 26 5% 30%;
    --input: 240 5.9% 70%;
    --ring: 50 20% 36%;
    --radius: 1rem;
    --success: 131 33 60;
  }

  .dark {
    --background: 22 1% 9%;
    --foreground: 26 16% 95%;
    --card: 22 1% 12%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 26 16% 75%;
    --primary-foreground: 22 1% 9%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 26 1% 35%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 99% 35%;
    --destructive-foreground: 22 1% 85%;
    --border: 26 5% 30%;
    --input: 240 5.9% 70%;
    --ring: 50 20% 36%;
    --radius: 1rem;
    --success: 131 33 60;
  }

  .violet {
    --background: 22 1% 9%;
    --foreground: 26 16% 95%;
    --card: 22 1% 12%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 26 16% 75%;
    --primary-foreground: 22 1% 9%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 26 1% 35%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 99% 35%;
    --destructive-foreground: 22 1% 85%;
    --border: 26 5% 30%;
    --input: 240 5.9% 70%;
    --ring: 50 20% 36%;
    --radius: 1rem;
    --success: 131 33 60;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.tiptap {
  > * + * {
    margin-top: 0.75em;
  }
  li {
    font-size: 14px;
    margin-left: 10px;
    list-style-type: circle;
  }
  ul,
  ol {
    padding: 0 1rem;
  }

  h1 {
    /* Inherited font properties from Tailwind */

    font-size: 3rem; /* text-4xl */
    font-weight: 800; /* font-extrabold */
    letter-spacing: -0.05em; /* tracking-tight */
  }

  @media (min-width: 1024px) {
    /* Equivalent to lg: */
    h1 {
      font-size: 3.5rem; /* text-5xl */
    }
  }

  h2 {
    margin-top: 2.5rem; /* mt-10 */
    border-bottom-width: 1px; /* border-b */
    padding-bottom: 0.5rem; /* pb-2 */
    font-size: 1.875rem; /* text-3xl */
    font-weight: 600; /* font-semibold */
    letter-spacing: -0.025em; /* tracking-tight */
    transition-property: colors; /* transition-colors */
  }

  h2:first-child {
    margin-top: 0; /* first:mt-0 */
  }

  h3 {
    font-size: 1.5rem; /* text-2xl */
    font-weight: 600; /* font-semibold */
    letter-spacing: -0.025em; /* tracking-tight */
  }

  h4 {
    font-size: 1.25rem; /* text-xl */
    font-weight: 600; /* font-semibold */
    letter-spacing: -0.025em; /* tracking-tight */
  }

  p {
    line-height: 1.75rem; /* leading-7 */
  }

  p:not(:first-child) {
    margin-top: 1.5rem; /* mt-6 */
  }

  blockquote {
    margin-top: 1.5rem; /* mt-6 */
    border-left-width: 2px; /* border-l-2 */
    padding-left: 1.5rem; /* pl-6 */
    font-style: italic; /* italic */
  }

  code {
    background-color: rgba(#616161, 0.1);
    color: #616161;
  }

  pre {
    background: #0d0d0d;
    color: #fff;
    font-family: "JetBrainsMono", monospace;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;

    code {
      color: inherit;
      padding: 0;
      background: none;
      font-size: 0.8rem;
    }
  }

  img {
    max-width: 100%;
    height: auto;
  }

  hr {
    border: none;
    border-top: 2px solid rgba(#0d0d0d, 0.1);
    margin: 2rem 0;
  }
}

.ProseMirror:focus {
  outline: none;
}

.ombra {
  box-shadow: -10px 13px 10px rgba(0, 0, 0, 0.69);
}
