@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --gradient: linear-gradient(to top left, #cfd9df, #e2ebf0);

    --background: 215 13% 6.72%;
    --foreground: 215 2% 99.2%;

    --muted: 215 10% 25.2%;
    --muted-foreground: 215 2% 58.4%;

    --popover: 215 61% 10.92%;
    --popover-foreground: 215 2% 99.2%;

    --card: 215 21% 15.92%;
    --card-foreground: 215 2% 99.2%;

    --border: 215 10% 25.2%;
    --input: 215 10% 25.2%;

    --primary: 215 20% 84%;
    --primary-foreground: 215 2% 8.4%;

    --secondary: 215 10% 25.2%;
    --secondary-foreground: 215 2% 99.2%;

    --accent: 215 10% 25.2%;
    --accent-foreground: 215 2% 99.2%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 215 2% 99.2%;

    --ring: 215 20% 84%;
    --radius: 1rem;
    --success: 131 33 60;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 72.2% 50.6%;
    --primary-foreground: 0 85.7% 97.3%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 72.2% 50.6%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.tiptap {
  > * + * {
    margin-top: 0.75em;
  }
  li {
    font-size: 14px;
    margin-left: 10px;
    list-style-type: circle;
  }
  ul,
  ol {
    padding: 0 1rem;
  }

  h1 {
    /* Inherited font properties from Tailwind */

    font-size: 3rem; /* text-4xl */
    font-weight: 800; /* font-extrabold */
    letter-spacing: -0.05em; /* tracking-tight */
  }

  @media (min-width: 1024px) {
    /* Equivalent to lg: */
    h1 {
      font-size: 3.5rem; /* text-5xl */
    }
  }

  h2 {
    margin-top: 2.5rem; /* mt-10 */
    border-bottom-width: 1px; /* border-b */
    padding-bottom: 0.5rem; /* pb-2 */
    font-size: 1.875rem; /* text-3xl */
    font-weight: 600; /* font-semibold */
    letter-spacing: -0.025em; /* tracking-tight */
    transition-property: colors; /* transition-colors */
  }

  h2:first-child {
    margin-top: 0; /* first:mt-0 */
  }

  h3 {
    font-size: 1.5rem; /* text-2xl */
    font-weight: 600; /* font-semibold */
    letter-spacing: -0.025em; /* tracking-tight */
  }

  h4 {
    font-size: 1.25rem; /* text-xl */
    font-weight: 600; /* font-semibold */
    letter-spacing: -0.025em; /* tracking-tight */
  }

  p {
    line-height: 1.75rem; /* leading-7 */
  }

  p:not(:first-child) {
    margin-top: 1.5rem; /* mt-6 */
  }

  blockquote {
    margin-top: 1.5rem; /* mt-6 */
    border-left-width: 2px; /* border-l-2 */
    padding-left: 1.5rem; /* pl-6 */
    font-style: italic; /* italic */
  }

  code {
    background-color: rgba(#616161, 0.1);
    color: #616161;
  }

  pre {
    background: #0d0d0d;
    color: #fff;
    font-family: "JetBrainsMono", monospace;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;

    code {
      color: inherit;
      padding: 0;
      background: none;
      font-size: 0.8rem;
    }
  }

  img {
    max-width: 100%;
    height: auto;
  }

  hr {
    border: none;
    border-top: 2px solid rgba(#0d0d0d, 0.1);
    margin: 2rem 0;
  }
}

.ProseMirror:focus {
  outline: none;
}
